.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: sloop-script-three, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

header {
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
  font-family: bufalino, sans-serif;
  font-weight: 500;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
}

li {
  display: inline-block;
}

li:hover {
  background-color: #000;
}

a:hover {
  color: #fff;
}

@media only screen and (min-width: 38em) {

  ul {
    text-align: right;
  }

  h1 {
    text-align: left;
  }

}
body {
  margin: 0;
}

h1 {
  margin: 0;
}

nav {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

figcaption {
  background-color: #e2e2e2;
  padding: 1rem;
}

@media only screen and (min-width: 18em) {

  h1 {
    margin-top: 10px;
  }

}

@media only screen and (min-width: 20em) {

  h1 {
    margin-top: 10px;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  figure {
    position: relative;
    overflow: hidden;
  }

  figcaption {
    position: absolute;
    width: 58%;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, .3);
    color: white;

    border-radius: .8rem;

    padding-bottom: .2rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  figcaption {
    width: 41%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  figcaption {
    width: 30%;
  }

}
